<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

{% extends 'superuser/admin_index.html' %}
{% block admin_index %}
  <form action="." method="post">
    {% csrf_token %}
  
    <div class="d-flex justify-content-between pb-4">
      <div><h3>Color</h3></div>
      <div class=""><button class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Add Color</button></div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Color</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex gap-2">
              <input type="text" name="name" id="color" class="form-control" placeholder="Color Name" required>
              <input type="color" name="code" id="" class="form-control form-control-color" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input class="btn btn-primary" type="submit" value="Save">
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered" id="colors">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>color</th>
          <th>code</th>
          <th>updated</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
        {% for color in colors %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ color.id }}</td>
            <td class="">
              <input type="color" class="form-control form-control-color" value="{{ color.code }}" disabled />
              {{ color.name }}
            </td>
            <td>{{ color.code }}</td>
            <td>{{ color.updated_at }}</td>
            <td>{{ color.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
