<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoTunes</title>
    <style>
        body{font-family: sans-serif;}
        p{font-size: .9em;}
        hr{border: 1px solid #f0f0f0;}
        
    </style>
</head>
<body>
    <div style="margin:50px auto; width:70%; padding:20px; background-color:#f7f7f7;">
        <h2 style="color: #00466a;text-decoration:none;font-weight:600">EchoTunes</h2>
        <hr>
        <p style="margin-top: 20px;">Hi {{username}},<br>Thank you for choosing EchoTunes. Use the following OTP to complete your Sign Up procedures. OTP is valid for 
            <b style="font-size: 1.2em;">1 minute</b> 
        </p>
        <h1 style="background: #00466a;margin: 30px auto;width: max-content;padding: 5px 20px; color: #fff;border-radius: 4px;">{{otp}}</h1>
            <p>Regards,<br>Team EchoTunes</p>
        <hr>
        <p style="text-align: center;">www.echotunes.com</p>
    </div>
</body>
</html>