{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

  <nav class="navbar bg-body-tertiary fixed-top border-bottom shadow">
    <div class="container-fluid px-2 px-lg-5">
        <a class="navbar-brand" href="#"><img src="{% static 'images/logo/smalllogo.svg' %}" alt="smalllogo" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a class="offcanvas-title" id="offcanvasNavbarLabel" href="#"><img src="{% static 'images/logo/smalllogo.svg' %}"
                        height="30" alt="l"></a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </div>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <a class="nav-link" aria-current="page" href="#">Profile</a>
                </div>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <a class="nav-link" aria-current="page" href="#">Wishlist</a>
                    {% comment %} <span class="badge text-bg-danger">1</span> {% endcomment %}
                </div>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <a class="nav-link" aria-current="page" href="#">Cart</a>
                    {% comment %} <span class="badge text-bg-danger">1</span> {% endcomment %}
                </div>
                <div class="my-3 my-sm-4">
                {% if user.is_authenticated %}
                    <a class="btn btn-success w-100 colorg border-0" href="{% url 'signout' %}" role="button">Sign Out</a>
                {% else %}
                    <a class="btn btn-success w-100 colorg border-0" href="{% url 'signin' %}" role="button">Sign In</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="p-4 w-100"></div>


{% block user_index %}
{% endblock user_index %}

   


  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>


<!-- <div>
        <input type="radio" class="btn-check bg-danger" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-primary rounded-circle" for="btnradio1"></label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-danger rounded-circle" for="btnradio2"></label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-success rounded-circle" for="btnradio3"></label>
    </div> -->


<!-- 
  
        <form class="d-flex">
          <div class="form-check form-check-inline m-0">
            <input class="form-check-input bg-danger" type="radio" name="color" id="color1" value="red">
          </div>
          <div class="form-check form-check-inline m-0">
            <input class="form-check-input bg-success" type="radio" name="color" id="color2" value="blue">
          </div>
          <div class="form-check form-check-inline m-0">
            <input class="form-check-input bg-info" type="radio" name="color" id="color3" value="green">
          </div>
        </form>
 -->


 <!-- https://www.codeply.com/go/3J1QlnNH2s/bootstrap-bootstrap-scrolling-table-with-fixed-header -->