{% extends 'user/user_index.html' %}
{% block user_index %}
{% load static %}
<h1>wishlist</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-2 g-lg-3">
  {% for item in wishlist_items %}
  <div class="col">
    <div class="p-3 card rounded-3 border border-1 border-secondary-subtle shadow">
      <a href="{% url 'user_product_details' pk=item.id %}">
        <img src="{{ item.cover_image.url }}"
          class="card-img-top bg-secondary-subtle border rounded-3 p-2" alt="product" />
      </a>
      <div class="card-img-overlay text-danger text-end h3 me-2 mt-2">
          <a href="{% url 'update_wishlist_items' pk=item.product.id %}" class="text-danger"><i class="bi bi-suit-heart-fill"></i></a>
      </div> 
      <div class="card-body p-0">
        <div class="pt-2">
          <span class="text-warning"><i class="bi bi-star-fill"></i></span> 4.5 (12)
        </div>
        <h4 class="card-title fw-bold mt-0 pt-0">{{ item.product.brand.name }} {{ item.product.name }}</h4>
        <span class="card-text fw-medium h5">₹{{ item.actual_price }}</span>
        <span class="card-text fw-bold text-decoration-line-through text-secondary h6">₹{{ item.selling_price }}</span>
        <span class="card-text small text-success fw-bold">{{ item.discount_percentage }}%
          off</span>
        <h6 class="card-text text-secondary fw-bold mt-2">Free Delivery</h6>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock user_index %}