{% extends 'user_index.html' %}
{% block user_index %}
  <div class="container-fluid px-4 px-sm-4 px-lg-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 card rounded-3 border border-1 border-secondary-subtle shadow">
          <img src="images/product.svg" class="card-img-top bg-secondary-subtle border rounded-3 p-2" alt="product" />
          <div class="card-img-overlay">
            <img src="images/heart.svg" class="smallicon m-2 float-end d-block" id="h1" onclick="wish('h1','h2')" alt="heart" />
            <img src="images/heartfill.svg" class="smallicon m-2 float-end d-none" id="h2" onclick="wish('h2','h1')" alt="heart" />
          </div>
          <div class="card-body p-0">
            <div class="pt-2">
              <img src="images/star.svg" class="verysmallicon mb-2" alt="star" />
              <span class="card-text text-secondary fw-semibold">4.5 (12)</span>
            </div>
            <h4 class="card-title fw-bold mt-0 pt-0">Boat</h4>
            <h5 class="card-subtitle mb-2 fw-bold">Rockers 335</h5>
            <span class="card-text fw-medium h5">3299₹</span>
            <span class="card-text fw-bold text-decoration-line-through text-secondary h6">4999₹</span>
            <span class="card-text small text-success fw-bold">60% off</span>
            {% comment %} <div class="d-flex mt-2">
              <span class="p-2 bg-danger rounded-circle me-1"></span>
              <span class="p-2 bg-success rounded-circle me-1"></span>
            </div> {% endcomment %}
            <h6 class="card-text text-secondary fw-bold mt-2">Free Delivery</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--  <div class="d-flex">
    <div class="form-check form-check-inline m-0">
        <input class="form-check-input bg-danger" type="radio" name="color" id="color1" value="red">
    </div>
    <div class="form-check form-check-inline m-0">
        <input class="form-check-input bg-success" type="radio" name="color" id="color2" value="blue">
    </div>
    <div class="form-check form-check-inline m-0">
        <input class="form-check-input bg-info" type="radio" name="color" id="color3" value="green">
    </div>
</div>  -->

<!--  <div class="col-2">
    <img src="images/heart.svg" class="img-fluid d-block" id="h1" onclick="wish('h1','h2')" alt="heart">
    <img src="images/heartfill.svg" class="img-fluid d-none" id="h2" onclick="wish('h2','h1')" alt="heart">
</div>  -->
