{% extends 'user/user_index.html' %}
{% block user_index %}
{% load static %}
  <form action="." method="post" id="placeorder">
    {% csrf_token %}
    <div class="row">
      <div class="col-8 p-2">
        {% if user.is_authenticated %}
        <div class="border shadow mb-2 p-3">
          <div class="h6 text-body-secondaryry"><span class="badge bg-secondary">1</span> LOGIN</div>
          <div class="h6">{{ user.name }} - {{ user.email }}</div>
        </div>
        {% endif %}    
        <div class="border shadow mb-2 p-3">
          <div class="d-flex justify-content-between">
            <div class="h6 text-body-secondaryry"><span class="badge bg-secondary">2</span> DELIVERY ADDRESS</div>
            <button class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#add_address" type="button">Add Address</button>
          </div>
          <div class="border my-2 p-2">
            <div class="form-check d-flex justify-content-between">
              <div id="selectedaddress"></div>
              <div class="d-flex">
                <button class="btn btn-primary fw-semibold my-auto" data-bs-toggle="modal" data-bs-target="#change_address" type="button">Change Address</button>
              </div>
            </div>
          </div>
          <div class="modal fade" id="change_address" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Change Address</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-2">
                  {% for address in addresses %}
                  <div class="form-check border mb-2">
                    <div class="p-2">
                      <input class="form-check-input" type="radio" name="address" value="{{ address.id }}" id="address{{ forloop.counter }}" {% if forloop.counter == 1 %}checked{% endif %}>
                      <label class="form-check-label" for="address{{ forloop.counter }}">
                        <div>{{ address.gender }}. {{ address.name }} - {{ address.mobile }}</div>
                        <div>{{ address.address }}</div>
                        <div>{{ address.place }} - {{ address.pincode }}</div>
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" value="Save" onclick="updateaddress()" data-bs-dismiss="modal">Select </button>
                </div>
              </div>
            </div> 
          </div> 
        </div>
        <div class="border shadow mb-2 p-3">
          <div class="h6 text-body-secondaryry"><span class="badge bg-secondary">3</span> ORDER SUMMERY</div>
          {% for item in cart_items %}
          <div class="row mb-2 p-2 border">

            <div class="col-2">
              {% comment %} <a href="{% url 'user_product_details' item.product_variant.id %}"> {% endcomment %}
                <img src="{{ item.product_variant.cover_image.url }}" class="img-fluid bg-secondary-subtle border rounded-3" alt="product"/>
              {% comment %} </a> {% endcomment %}
            </div>

            <div class="col-10">
              <div class="d-flex justify-content-between">
                <h4 class="fw-bold">{{ item.product_variant.product.brand }} {{ item.product_variant.product.name }}</h4>
                <a class="h4 text-danger" onclick="confirmDelete(this);" data-confirm-message="Do you want to remove this product?" href="{% url 'remove_cart_item' item.product_variant.id %}"><i class="bi bi-trash"></i></a>        
              </div>
              <div>
                <h6 class="text-secondary">{{ item.product_variant.product.description }}</h6>
              </div>
              <div>
                <span class="fw-medium h4">₹{{ item.product_variant.selling_price }} </span>
                <span class="fw-bold text-decoration-line-through text-secondary h5">₹{{ item.product_variant.actual_price }}</span>
                <span class=" text-success fw-bold">{{ item.product_variant.discount_percentage }}% off</span>        
              </div>
              <div class="d-flex align-items-center gap-2 pt-2">
                {% if item.count > 1 %}
                <a class="text-decoration-none text-body-tertiary" href="{% url 'subtract_cart_item_count' item.product_variant.id %}">
                <i class="bi bi-dash-circle-fill h5"></i></a>
                {% else %}
                <a href=""><i class="bi bi-dash-circle-fill text-body-tertiary h5"></i></a>
                {% endif %}
                <div class=" border border-2 border-secondary-subtle rounded-0  px-2">{{ item.count }}</div>
                <a class="text-decoration-none text-body-tertiary" href="{% url 'add_cart_item_count' item.product_variant.id %}" ><i class="bi bi-plus-circle-fill h5"></i></a>
              </div> 
            </div>
          </div> 
          {% endfor %}
        </div>
        <div class="border shadow mb-2 p-3">
          <div class="h6 text-body-secondaryry"><span class="badge bg-secondary">3</span> PAYMENT OPTIONS</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="payment_method" value="cod" id="cod" checked>
            <label class="form-check-label" for="cod">
              Cash On Delivery
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="payment_method" value="online" id="online">
            <label class="form-check-label" for="online">
              Online Payment  
            </label>
          </div>
        </div>
      </div>

      <div class="col-4 p-2">
        <div class="d-flex justify-content-between align-items-center border border-bottom-0 p-3">
          <div class="d-flex gap-2 ">
            <div class=" fs-4 "><i class="bi bi-tag"></i></div>
            <div class="fw-semibold  pt-1"> Apply Coupons</div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Apply</button>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable hiddenscrollbar">
            <div class="modal-content">
              <div class="modal-header d-block">
                <div class="d-flex mb-3">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Apply Coupon</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="text" class="form-control mb-2" id="couponcodeinput" onkeyup="changeinput()" aria-describedby="amount_error" placeholder="Enter coupon code">
                <div id="amount_error" class="form-text text-danger m-0 p-0"></div>
              </div>
              <div class="modal-body">
                {% for coupon in coupons %}
                  <div class="form-check border rounded mb-2" id="coupondiv{{ coupon.code }}" name="coupondiv" onclick="setcoupon('{{ coupon.code }}','{{ coupon.discount }}')">
                  <div class="p-2">
                    <div name="coupondetails" discount={{ coupon.discount }}>Get ₹{{ coupon.discount }} off on Amount greater than {{ coupon.minimum_amount }}</div>
                    <button type="button" class="btn" style="border-style: dashed; background-color: inherit; border-color: inherit; color: inherit;">{{ coupon.code }}</button>
                    <div name="expirey" class="text-end">Expires on : {{ coupon.end_date }}</div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="modal-footer d-flex justify-content-between">
                <div>
                  <div class="small text-secondary">Maximun Savings</div>
                  <div class="fw-semibold" id="savings">₹ 0</div>  
                </div>
                <input type="hidden" id="hidden_coupon" name="coupon_value" value="0">
                <a id="coupon_submit" href="{% url "applycoupon" coupon_code='None' %}" class="btn btn-primary">Apply</a>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3 border">
          <div class="h5 ">PRICE DETAILS</div>
          <hr>
          <div class="row">
            <div class="col h6 text-secondary">Price ({{ cart.total_count }} items)</div>
            <div class="col h6 text-secondary">₹{{ cart.total_actual_price }}</div>
          </div>
          <div class="row">
            <div class="col h6 text-secondary">Discount</div>
            <div class="col text-success h6">-₹{{ cart.total_discount_price }}</div>
          </div>
          <div class="row">
            <div class="col h6 text-secondary">Selling Price</div>
            <div class="col text-secondary h6">₹{{ cart.total_selling_price }}</div>
          </div>
          <div class="row">
            <div class="col h6 text-secondary">Coupon Discount</div>
            {% if cart.coupon_discount == 0 %}
              <div class="col h6 text-secondary">₹{{ cart.coupon_discount }}</div>
            {% else %}
              <div class="col h6 text-success">-₹{{ cart.coupon_discount }}</div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col h6 text-secondary">Delivery Charges</div>
            <div class="col h6 text-secondary text-success">FREE</div>
          </div>
          <hr>
          <div class="row">
            <div class="col h6">Final Price</div>
            <div class="col h6">₹{{ cart.final_price }}</div>
          </div>
          <hr>
          <div class="d-grid py-2">
            <input class="btn btn-primary d-none" id="rzp-button1" type="submit" value="CONFIRM ORDER">
            <input class="btn btn-primary d-block" id="cod-button1" type="submit" value="CONFIRM ORDER">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal fade" id="add_address" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable hiddenscrollbar">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addressform" action="{% url 'add_address' %}" method="post">
            {% csrf_token %}
            <label for="address_type">Address Type</label>
            <select name="address_type" id="address_type" class="form-select mb-2">
              <option value="Home" selected>Home</option>
              <option value="Office">Office</option>
            </select>
            
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control mb-2" required>
            
            <label for="gender">Gender</label>
            <select name="gender" id="gender" class="form-select mb-2">
              <option value="Mr" selected>Male</option>
              <option value="Mrs">Female</option>
            </select>
            
            <label for="mobile">Mobile</label>
            <input type="text" name="mobile" id="mobile" class="form-control mb-2" required>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control mb-2" required>
            
            <label for="address">Address</label>
            <textarea name="address" id="address" class="form-control mb-2" rows="3"></textarea>
            
            <label for="place">Place</label>
            <input type="text" name="place" id="place" class="form-control mb-2" required>
            
            <label for="landmark">Land Mark</label>
            <input type="text" name="landmark" id="landmark" class="form-control mb-2" required>

            <label for="addpincode">Pincode</label>
            <input type="text" name="pincode" id="addpincode" class="form-control mb-2" onkeyup="fetchPincodeData(this,'addpinhelp','addpostoffice','adddistrict','addstate')" aria-describedby="addpinhelp" required>
            <div id="addpinhelp" class="form-text text-danger"></div>

            <label for="postoffice">Post Office</label>
            <select class="form-select" name="post" id="addpostoffice"></select>

            <label for="district">District:</label>
            <input type="text" class="form-control mb-2" name="district" id="adddistrict" readonly>

            <label for="state">State:</label>
            <input type="text" class="form-control mb-2" name="state" id="addstate" readonly>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="button" onclick="saveaddress()" class="btn btn-primary" value="Save">
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/deleteconfirmation.js' %}"></script>
<script>
  function saveaddress(){
    addressform = document.getElementById('addressform')
    addressform.submit()
  }
  function setcoupon(code,discount){
    const couponcodeinput = document.getElementById('couponcodeinput')
    couponcodeinput.value = code
    changeinput();
  } 
  function changeinput(){
    let coupon = document.getElementById("couponcodeinput").value;
    let coupondivs = document.querySelectorAll('[name="coupondiv"]')
    let savings = document.getElementById('savings')
    let coupon_submit = document.getElementById('coupon_submit')
    let flag = false
    for (let i = 0; i < coupondivs.length; i++) {
      let coupondetails=coupondivs[i].querySelector('[name="coupondetails"]');
      let expirey=coupondivs[i].querySelector('[name="expirey"]');
      let button=coupondivs[i].querySelector('[type="button"]');
      if (coupondivs[i].id == `coupondiv${coupon}`){
        coupondivs[i].classList.add('bg-primary')
        coupondetails.classList.add("text-light")
        expirey.classList.add("text-light")
        button.classList.add("text-light")
        discount = coupondetails.getAttribute('discount')
        savings.textContent = `₹ ${discount}`
        coupon_submit.href = coupon_submit.href.replace('None',coupon)
        flag = true
      }
      else{
        coupondivs[i].classList.remove('bg-primary')
        coupondetails.classList.remove("text-light")
        expirey.classList.remove("text-light")
        button.classList.remove("text-light")
      }
    }
    if (flag == false){
      savings.textContent = '₹ 0'
      coupon_submit.href = coupon_submit.href.replace(coupon,'None')
    }
  }
  function fetchPincodeData(pincodeInput, helptext, postoffice, district, state) {
    const dropdown = document.getElementById(postoffice);
    const pincode = pincodeInput.value;
    dropdown.innerHTML = '';
    if (pincode.length !== 6) {
      document.getElementById(helptext).textContent = 'PIN code must be 6 characters long.';
      pincodeInput.classList.add('is-invalid');
      pincodeInput.classList.remove('is-valid');
      return;
    } 
    else {
      document.getElementById(helptext).textContent = '';
      pincodeInput.classList.remove('is-invalid');
      pincodeInput.classList.add('is-valid');
    }
    const apiUrl = `https://api.postalpincode.in/pincode/${pincode}`;
    fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      if (data && data[0] && data[0].Status === 'Success') {
          const postofficeData = data[0].PostOffice.map(item => item.Name);
          postofficeData.forEach(name => {
          const option = document.createElement('option');
          option.value = name; 
          option.text = name;
          dropdown.appendChild(option);
        });
        document.getElementById(district).value = data[0].PostOffice[0].District;
        document.getElementById(state).value = data[0].PostOffice[0].State;
      } else {
        document.getElementById(helptext).textContent = 'Invalid PIN Code';
        pincodeInput.classList.add('is-invalid');
      }
    })
    .catch(error => {
      document.getElementById(helptext).textContent = 'An error occurred while fetching data.';
    }); 
  }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const initiallyCheckedRadio = document.querySelector("input[name='address']:checked");
    if (initiallyCheckedRadio) {
      const radiolabel = initiallyCheckedRadio.parentElement.querySelector("label");
      const selectedaddress = document.getElementById('selectedaddress');
      selectedaddress.innerHTML = radiolabel.innerHTML;
    }
  });
  function updateaddress(){
    const selectedradio = document.querySelector("input[name='address']:checked");
    const radiolabrl = selectedradio.parentElement.querySelector("label");
    const selectedaddress = document.getElementById('selectedaddress')
    selectedaddress.innerHTML = radiolabrl.innerHTML;
  }
  const codRadio = document.getElementById("cod");
  const onlineRadio = document.getElementById("online");
  const rzpButton = document.getElementById("rzp-button1");
  const codButton = document.getElementById("cod-button1");

  codRadio.addEventListener("change", () => {
      rzpButton.classList.add("d-none");
      codButton.classList.remove("d-none");
  });

  onlineRadio.addEventListener("change", () => {
      codButton.classList.add("d-none");
      rzpButton.classList.remove("d-none");
  });
</script>
<script>
  orderform = document.getElementById('placeorder')
  let options = {
    "key": "{{ payment_api_key }}",
    "name": "EchoTunes",
    "description": "Test Transaction",
    "image": "https://echotunes-s3.s3.ap-south-1.amazonaws.com/static/images/logo/echotunes_tittle.png",
    "order_id": "{{ order_id }}", 
    "handler": function (response){
    //  alert(response.razorpay_payment_id);
    //  alert(response.razorpay_order_id);
    //  alert(response.razorpay_signature);
    //  orderform.submit();
    },
    "theme": {
      "color": "#3399cc"
    }
  };
  let rzp1 = new Razorpay(options);
  rzp1.on('payment.failed', function (response){
    alert(response.error.code);
    alert(response.error.description);
    alert(response.error.source);
    alert(response.error.step);
    alert(response.error.reason);
    alert(response.error.metadata.order_id);
    alert(response.error.metadata.payment_id);
  });
  document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
  }
</script> 
{% endblock user_index %}

