{% extends 'user/user_index.html' %}
{% block user_index %}
{% load static %}
<h1>cart</h1>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
    .overflow-scroll {
      height: 80vh;
      overflow-y: scroll; 
    }

    .overflow-scroll::-webkit-scrollbar {
      display: none;
    }

    .overflow-scroll::-webkit-scrollbar-thumb {
      background-color: darkgray;
    }
  </style>


<div class="row align-items-start g-2 ">
  
  <div class="col-7 overflow-scroll">
    {% for item in cart_items %}
    <div class="row border w-100 rounded-3 mb-2">

      <div class="col-3 p-2">
        <a href="{% url 'user_product_details' item.product_variant.id %}">
          <img src="{{ item.product_variant.cover_image.url }}" class="img-fluid bg-secondary-subtle border rounded-3" alt="product"/>
        </a>
      </div>

      <div class="col-9  p-2">
        <div class="pt-2 d-flex justify-content-between">
          <h4 class="fw-bold">{{ item.product_variant.product.brand }} {{ item.product_variant.product.name }}</h4>
          <a class="h4 text-danger" onclick="confirmDelete(this);" href="{% url 'remove_cart_item' item.product_variant.id %}"  data-confirm-message="Do you want to remove this product from your cart?"><i class="bi bi-trash"></i></a>
        </div>
        <div>
          <h6 class="text-secondary">{{ item.product_variant.product.description }}</h6>
        </div>
        <div>
          <span class="fw-medium h4">₹{{ item.product_variant.selling_price }} </span>
          <span class="fw-bold text-decoration-line-through text-secondary h5">₹{{ item.product_variant.actual_price }}</span>
          <span class=" text-success fw-bold">{{ item.product_variant.discount_percentage }}% off</span>        
        </div>
        <div class="d-flex align-items-center gap-2 pt-2">
          {% if item.count > 1 %}
          <a class="text-decoration-none text-body-tertiary" href="{% url 'subtract_cart_item_count' item.product_variant.id %}">
          <i class="bi bi-dash-circle-fill h5"></i></a>
          {% else %}
          <a href=""><i class="bi bi-dash-circle-fill text-body-tertiary h5"></i></a>
          {% endif %}
          <div class=" border border-2 border-secondary-subtle rounded-0  px-2">{{ item.count }}</div>
          <a class="text-decoration-none text-body-tertiary" href="{% url 'add_cart_item_count' item.product_variant.id %}" ><i class="bi bi-plus-circle-fill h5"></i></a>
        </div> 
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-5 pt-0 pe-5">
    <div class="p-3 pb-1 border">
      <div class="h5 ">PRICE DETAILS</div>
      <hr>
      <div class="row">
        <div class="col h6 text-secondary">Price ({{ user_cart.total_count }} items)</div>
        <div class="col h6 text-secondary">₹{{ user_cart.total_actual_price }}</div>
      </div>
      <div class="row">
        <div class="col h6 text-secondary">Discount</div>
        <div class="col text-success h6">-₹{{ user_cart.total_discount_price }}</div>
      </div>
      <div class="row">
        <div class="col h6 text-secondary">Delivery Charges</div>
        <div class="col h6 text-secondary text-success">FREE</div>
      </div>
      <hr>
      <div class="row">
        <div class="col h6">Total Amount</div>
        <div class="col h6">₹{{ user_cart.total_selling_price }}</div>
      </div>
      <hr>
      <div class="d-grid py-2">
        <a class="btn btn-primary" href="{% url 'checkout' %}" role="button">PLACE ORDER</a>
      </div>
      {% comment %} <div class="text-success h6 fw-bold p-0 pt-2">You will save ₹30,772 on this order</div> {% endcomment %}

    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/deleteconfirmation.js' %}"></script>

{% endblock user_index %}

